* {
    margin: 0;
    padding: 0;
}

h1{
    color:whitesmoke;
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

h3{
    color:whitesmoke;
    margin-top: 5%;
}

h2{
    color:whitesmoke;
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}